body {
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: #39150C url(background3.webp) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
h1 {
    color: #25b3ac;
    font-size: 2.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    text-align: center;
}
h2 {
    color: #bc7288;
    font-size: 1.7em;
    padding: 0px;
    margin: 0.5em 0 0.35em 0;

}
    p {
        font-size: 1.6em;
        line-height: 1.4em;
        color: #484242;
        padding: 0px;
        margin: 0px 0.5em 0.75em 0px;
}
/* header */
header {
    padding: 0.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: url(background.jpeg); 
    border-bottom: 8px solid white;
}
header h1 {
    font-family: cursive;
    color: #25b3ac;
    font-size: 8em;
    letter-spacing: -0.025em;
    margin: 0;   
}

nav {
    color: #000;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #C64322;
    padding: 0.3em 0.6em;
}
nav li a:hover {
    color: #C64322;
    background-color: rgba(252,251,243,0.75);
}
section#aboutus {
    width: 400px;
    float: right;
    position: relative;
    display: block;
    background-color: #fff;
    margin: 1.5em 3em 3.0em 1.5em;
    padding: 1.7em 3em 2.0em 1.7em;
    border-left: #7f797b solid 5px;
   }

/*center image of Adelyn and Lilli */   
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

section #shop {
    background-color: rgba(252,251,243,0.7);
    margin: 0 0 2.0em;
    padding: 1.5em  0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
}
section div.bracelet{
    float: left;
    position: relative;
    width: 275px;
    margin: 0 0.5em 2.0em 3em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.8em;
   }
section div.panel img.braceletType {
    width: 100%;
   }
button {
    color: #251073;
    background-color: #f3dee6;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #130a57;
}
div.clear{
    clear:both;
    font-size: 1%;

/*footer section*/
}
footer {
    background-image: url(background.jpeg);
    height: 25px;
    font-size: 1.5em;
    color: #524c4c;
    text-align: center;
    padding: 1.5em 2.0em;
    border-top: 6px solid white;
}
footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.5em;
    padding: 0;
}
footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
}

